﻿<h1 *ngIf="isAddMode">Add Category</h1>
<h1 *ngIf="!isAddMode">Edit Category</h1>
<hr>

<form [formGroup]="form" (ngSubmit)="onSubmit()" class="col-12">
    <div class="row mb-2">
        <label class="col-sm-2 col-form-label">Unique Code</label>
        <div class="col-sm-2">
            <input type="text" minlength="6" maxlength="6" formControlName="code" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.code.errors }" [ngClass]="{ 'is-valid': submitted && !f.code.errors }" />
                <div *ngIf="submitted && f.code.errors" class="invalid-feedback">
                    <div *ngIf="f.code.errors.required">Code is required!</div>
                    <div *ngIf="f.code.errors.minLength">Code is too short!</div>
                    <div *ngIf="f.code.errors.maxLength">Code is too long!</div>
                    <div *ngIf="f.code.errors.pattern">Code must contain 3 numbers and 3 letters only!</div>
                </div>
        </div>
    </div>
    <div class="row mb-2">
        <label class="col-sm-2 col-form-label">Category Name</label>
        <div class="col-sm-4">
            <input type="text" minlength="3" maxlength="50" formControlName="name" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.name.errors }" [ngClass]="{ 'is-valid': submitted && !f.name.errors }" />
                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                    <div *ngIf="submitted && f.name.errors.required">Category Name is required!</div>
                    <div *ngIf="submitted && f.name.errors.minLength">Category Name is too short!</div>
                    <div *ngIf="submitted && f.name.errors.maxLength">Category Name is too long!</div>
                </div>
        </div>
    </div>
    <div class="row mb-2">
        <label class="col-sm-2 col-form-label">Active?</label>
        <div class="col-sm-10">
            <input type="checkbox" formControlName="isActive" class="form-check" checked />
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
            <button [disabled]="loading" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Save
            </button>
            <a routerLink="/category/list" class="btn btn-link">Cancel</a>
        </div>
    </div>
</form>