﻿<div class="container">
    <div class="row">
        <div class="col-10">
            <h5>Category List</h5>
        </div>
        <div class="col-2 btn-col">
            <a routerLink="../add" class="btn btn-sm btn-success">Add Category</a>
        </div>
    </div>
</div>

<hr/>

<table id="dtCategories" class="table table-striped table-responsive hover">
    <thead>
        <tr>
            <th style="width: 10%" class="center">Code</th>
            <th style="width: 60%">Name</th>
            <th style="width: 20%" class="center">Active?</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let c of categories">
            <td class="center">{{c.code}}</td>
            <td>{{c.name}}</td>
            <td class="center">{{c.isActive ? "Yes" : "No"}}</td>
            <td nowrap><a class="btn btn-sm btn-secondary" routerLink="/category/edit/{{c.id}}">Edit</a>
            <button class="btn btn-sm btn-danger" (click)="deleteCategory(c.id)">Remove</button></td>
        </tr>
    </tbody>
</table>

