<nav class="navbar navbar-expand-sm navbar-fixed-top navbar-dark bg-dark">
  <div class="container">
    <div class="nav navbar-nav navbar-logo pull-sm-left">
      <a href="./account/login" title="Inventory System">
        <img src="./../assets/inventory-system.png" alt="Inventory System" title="Inventory System" />
      </a>
    </div>
    <div class="btn-group" role="group" aria-label="Menu">
      <div class="btn-group" role="group" *ngIf="user">
        <button id="btnGroupDrop1" type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown"
          aria-expanded="false">
          Categories
        </button>
        <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <li>
            <a class="dropdown-item" routerLink="/category/list" routerLinkActive="active">View All</a>
          </li>
          <li>
            <a class="dropdown-item" routerLink="/category/add" routerLinkActive="active">Add New</a>
          </li>
        </ul>
      </div>
      <div class="btn-group" role="group" *ngIf="user">
        <button id="btnGroupDrop2" type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown"
          aria-expanded="false">
          Products
        </button>
        <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <li>
            <a class="dropdown-item" routerLink="/product/list" routerLinkActive="active">View All</a>
          </li>
          <li>
            <a class="dropdown-item" routerLink="/product/add" routerLinkActive="active">Add New</a>
          </li>
        </ul>
      </div>
      <div class="btn-group" role="group">
        <button *ngIf="user" id="btnGroupDrop3" type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown"
          aria-expanded="false">
          {{user?.name}}
        </button>
        <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <li *ngIf="user">
            <a class="dropdown-item" (click)="logout()">Logout</a>
          </li>
          <li *ngIf="!user">
            <a class="dropdown-item" routerLink="/account/login">Login</a>
            <a class="dropdown-item" routerLink="/account/register">Register</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>


  <!-- main app container -->
  <div class="app-container">
    <alert></alert>
    <router-outlet></router-outlet>
  </div>