﻿<h5 *ngIf="isAddMode">Add Product</h5>
<h5 *ngIf="!isAddMode">Edit Product</h5>
<hr>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row mb-2">
        <label class="col-sm-2 col-form-label">Code</label>
        <div class="col-sm-2">
            <input type="text" disabled formControlName="code" class="form-control"/>
        </div>
    </div>
    <div class="row mb-2">
        <label class="col-sm-2 col-form-label">Product Name</label>
        <div class="col-sm-4">
            <input type="text" minlength="3" maxlength="200" formControlName="name" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
                [ngClass]="{ 'is-valid': submitted && !f.name.errors }" />
                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                    <div *ngIf="f.name.errors.required">Product Name is required!</div>
                    <div *ngIf="f.name.errors.minlength">Product Name is too short!</div>
                    <div *ngIf="f.name.errors.maxlength">Product Name is too long!</div>
                </div>
        </div>
    </div>
    <div class="row mb-2">
        <label class="col-sm-2 col-form-label">Description</label>
        <div class="col-sm-7">
            <input type="text" minlength="3" maxlength="50" formControlName="description" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.description.errors }"
                [ngClass]="{ 'is-valid': submitted && !f.description.errors }" />
                <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                    <div *ngIf="f.description.errors.required">Description is required!</div>
                    <div *ngIf="f.description.errors.minlength">Description is too short!</div>
                    <div *ngIf="f.description.errors.maxlength">Description is too long!</div>
                </div>
        </div>
    </div>
    <div class="row mb-2">
        <label class="col-sm-2 col-form-label">Price</label>
        <div class="col-sm-2">
            <div class="input-group">
                <span class="input-group-text">R</span>
                <input type="text" minlength="3" maxlength="50" formControlName="price" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.price.errors }"
                    [ngClass]="{ 'is-valid': submitted && !f.price.errors }" />
                <span class="input-group-text">.00</span>
                <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
                    <div *ngIf="f.price.errors.required">Price is required!</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <label class="col-sm-2 col-form-label">Category</label>
        <div class="col-sm-4">
            <select class="form-select" formControlName="category" 
            [ngClass]="{ 'is-invalid': submitted && f.category.errors }"
            [ngClass]="{ 'is-valid': submitted && !f.category.errors }" >
                <option value="0" selected disabled>Choose Category</option>
                <option *ngFor="let cat of categories" [ngValue]="cat?.id">{{cat?.name}}</option>
            </select>
            <div *ngIf="submitted && f.category.errors" class="invalid-feedback">
                <div *ngIf="f.category.errors.required">Choose a Category!</div>
                <div *ngIf="f.category.errors.min">Choose a Category!</div>
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <label class="col-sm-2 col-form-label">Upload a picture</label>
        <div class="col-sm-7">
            <div class="row mb-1">
                <div class="col-sm-7">
                    <input type="file" #formFile id="formFile" (change)="uploadFile(formFile.files)">
                </div>
            </div>
            <div class="row mb-1">
                <div class="col-sm-7">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" [style.width.%]="progress"
                            [attr.aria-valuenow]="progress" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
            <span class="upload" *ngIf="message">
                {{message}}
            </span>
            <div class="row mb-1">
                <div class="col-sm-7">
                    <span *ngIf="imageBytes">
                        <img src='{{"data:image/png;base64," + imageBytes}}' class="img-fluid" />
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
            <button [disabled]="loading" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Save
            </button>
            <a routerLink="/product/list" class="btn btn-link">Cancel</a>
        </div>
    </div>
</form>