﻿<div class="container">
    <div class="row">
        <div class="col-10">
            <h5>Product List</h5>
        </div>
        <div class="col-2 btn-col">
            <a routerLink="../add" class="btn btn-sm btn-success">Add Product</a>
        </div>
    </div>
</div>

<hr/>

<div class="container">
    <div class="row">
        <div class="col-sm-2" style="margin-top:0.7%">
            Display products for:
        </div>
        <div class="col-sm-4" style="text-align:left;">
            <select class="form-select" [(ngModel)]="selectedItem" (ngModelChange)="onCategoryChange()">
                <option value="undefined" disabled selected>Choose category</option>
                <option *ngFor="let item of categories" [ngValue]="item?.id">{{item?.name}}</option>
            </select>
        </div>
        <div *ngIf="selectedItem > 0" class="col-sm-4">
            <a href="#" (click)="$event.preventDefault()" onclick="formFile.click()">[Import from Excel]</a>
            <a href="#" (click)="$event.preventDefault(); downloadFile();">[Export to Excel]</a>
            <input [hidden]="true" type="file" #formFile id="formFile" (change)="uploadFile(formFile.files, $event)">
        </div>
    </div>
</div>

<hr/>

<table id="dtProducts" class="table table-striped table-responsive hover">
    <thead *ngIf="products?.length > 0">
        <tr>
            <th style="width: 10%" class="center">Code</th>
            <th style="width: 15%"></th>
            <th style="width: 65%">Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody *ngIf="products?.length > 0">
        <tr *ngFor="let p of products">
            <td class="center">{{p.code}}</td>
            <td class="center">
                <span *ngIf="p.image">
                    <img src='{{"data:image/png;base64," + p.image}}' class="img-fluid" />
                </span>
            </td>
            <td>{{p.name}}</td>
            <td nowrap><a class="btn btn-sm btn-secondary" routerLink="/product/edit/{{p.id}}">Edit</a>
                <button class="btn btn-sm btn-danger" (click)="deleteProduct(p.id)">Remove</button></td>
        </tr>
    </tbody>
    <tr *ngIf="products?.length == 0">
        <th colspan="3" style="border:none">No data available for the selected category</th>
    </tr>
</table>