a { cursor: pointer; }

.app-container {
    min-height: 320px;
    overflow: hidden;
}

.btn-delete-user {
    width: 40px;
    text-align: center;
    box-sizing: content-box;
}

.form-group
{
    margin-bottom: 7px;
}


.is-invalid
{
    border-color: #ff0000 !important;
    color: #ff0000 !important;
}

.invalid-feedback
{
    color: #ff0000 !important;
}

h1
{
    font-size: x-large;
}

.alert .close 
{
    float: right;
    position:absolute;
    top: -1.2%;
    right: 0.8%;
    text-decoration: none;
    color: #000000;
}

td a, td button
{
    margin-left:5px;
}

.btn-col
{
    text-align: right;
    margin-top: -0.3%;
}

.float-none
{
    float:none;
}

.table td, .table th
{
    color: #000000 !important;
}

.center
{
    text-align: center;
}

.hide
{
    display:none;
}

.show
{
    display: inline;
}

#formFilea::before {
    content: "Browse File";
    position: absolute;
    z-index: 2;
    display: block;
    background-color: #eee;
    width: 80px;
  }

 .dropdown-item.active {
    background-color: #eee !important;
    color: #000000;
}

.navbar .btn-group .btn
{
    background-color: #444444;
    color: #ffffff;
}

.overlay{
    opacity:0.8;
    background-color:#ccc;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
}