<div class="d-flex flex-column justify-content-center align-items-center">
    <div class="card col-sm-4 text-left">
        <h4 class="card-header text-center">Login</h4>
        <div class="card-body">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="row mb-2">
                    <div class="col-sm-12">
                        <div class="input-group">
                            <span class="input-group-text">
                                <i class="fa-solid fa-envelope"></i>
                            </span>
                            <input type="email" placeholder="email" formControlName="email" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                            <div *ngIf="f.email.errors" class="invalid-feedback">
                                <div *ngIf="f.email.errors.required">Email is required!</div>
                                <div *ngIf="f.email.errors.email">Email is invalid!</div>
                                <div *ngIf="f.email.errors.minlength">Email is too short!</div>
                                <div *ngIf="f.email.errors.maxlength">Email is too long!</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-sm-12">
                        <div class="input-group">
                            <span class="input-group-text">
                                <i class="fa-solid fa-key"></i>
                            </span>
                            <input type="password" placeholder="password" formControlName="password"
                                class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                            <div *ngIf="f.password.errors" class="invalid-feedback">
                                <div *ngIf="f.password.errors.required">Password is required</div>
                                <div *ngIf="f.password.errors.minlength">Password is too short</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-sm-12 text-center">
                        <button [disabled]="loading" class="btn btn-primary">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            Login
                        </button>
                        <a routerLink="../register" class="btn btn-link">Register</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>