<div class="d-flex flex-column justify-content-center align-items-center">
    <div class="card col-sm-6 text-left">
        <h4 class="card-header text-center">Register</h4>
        <div class="card-body">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="row mb-2">
                    <label class="col-sm-4 col-form-label">Name</label>
                    <div class="col-sm-8">
                        <input type="text" formControlName="name" maxlength="50" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
                            [ngClass]="{ 'is-valid': submitted && !f.name.errors }" />
                        <div *ngIf="f.name.errors" class="invalid-feedback">
                            <div *ngIf="f.name.errors.required">Name is required!</div>
                            <div *ngIf="f.name.errors.minlength">Name is too short!</div>
                            <div *ngIf="f.name.errors.maxLength">Name is too long!</div>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <label class="col-sm-4 col-form-label">Surname</label>
                    <div class="col-sm-8">
                        <input type="text" formControlName="surname" maxlength="50" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.surname.errors }"
                            [ngClass]="{ 'is-valid': submitted && !f.surname.errors }" />
                        <div *ngIf="f.surname.errors" class="invalid-feedback">
                            <div *ngIf="f.surname.errors.required">Surname is required!</div>
                            <div *ngIf="f.surname.errors.minlength">Surnameis too short!</div>
                            <div *ngIf="f.surname.errors.maxLength">Surnameis too long!</div>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <label class="col-sm-4 col-form-label">Email</label>
                    <div class="col-sm-8">
                        <input type="email" formControlName="email" maxlength="100" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                            [ngClass]="{ 'is-valid': submitted && !f.email.errors }" />
                        <div *ngIf="f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email is required!</div>
                            <div *ngIf="f.email.errors.minlength">Email is too short!</div>
                            <div *ngIf="f.email.errors.maxLength">Email is too long!</div>
                            <div *ngIf="f.email.errors.email">In-valid email!</div>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <label class="col-sm-4 col-form-label">Password</label>
                    <div class="col-sm-8">
                        <input type="password" formControlName="password" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                            [ngClass]="{ 'is-valid': submitted && !f.password.errors }" />
                        <div *ngIf="f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required!</div>
                            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters!</div>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <label class="col-sm-4 col-form-label">Re-type Password</label>
                    <div class="col-sm-8">
                        <input type="password" formControlName="confirmPassword" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }"
                            [ngClass]="{ 'is-valid': submitted && !f.confirmPassword.errors }" />
                        <div *ngIf="f.confirmPassword.errors" class="invalid-feedback">
                            <div *ngIf="f.confirmPassword.errors.required">Password is required!</div>
                            <div *ngIf="f.confirmPassword.errors.minlength">Password must be at least 6 characters!
                            </div>
                            <div *ngIf="f.confirmPassword.errors.must-match">Passwords must match!</div>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-7 text-left">
                        <button [disabled]="loading" class="btn btn-primary">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                            Register
                        </button>
                        &nbsp;
                        <a routerLink="../login" class="btn btn-secondary">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>