<div class="d-flex flex-column justify-content-center align-items-center">
    <div class="card col-sm-5 text-center">
        <h4 class="card-header text-center">
            <i [hidden]="!isValid" class="fa-solid fa-circle-info fa-2x"></i>
            <i [hidden]="isValid" class="fa-solid fa-circle-exclamation fa-2x"></i>
        </h4>
        <div class="card-body">
            <h2 id="message">{{message}}</h2>
            <span>
                <a href="../account/login">Login Here</a>
            </span>
        </div>
    </div>
</div>
